<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
    <label for="email">Introduce tu email</label>
  <input id="email" type="text" name="email" placeholder="email@email.com">

  <br><br>

  <label for="phone">Introduce tu teléfono</label>
  <input id="phone" type="phone" name="phone" placeholder="Tu número de teléfono">
  
  <br><br>
  <input type="file" name="photo">
  
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Crear cuenta</button>

  <p class="account-message">
    ¿Ya estás registrado?
    <a href="/auth/login">Login</a>
  </p>
</form>
