<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="480953588222-i10nep3u64hed2nnkba0loqn2502510e.apps.googleusercontent.com">

<h1>Index of {{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- Para implementar google --}}
{{#unless User}}
  Home page
  {{!-- <div>
    <a href="/auth/facebook">Login</a>
    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.avatar&client_id=2432150752.604536859475"><img alt=""Sign in with Slack"" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
<a href="/auth/slack"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

  </div> --}}
{{/unless}}

