<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="480953588222-i10nep3u64hed2nnkba0loqn2502510e.apps.googleusercontent.com">

<h1>Index of Rafa branch {{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- Para implementar google --}}
{{#unless User}}
  Home page
  <div>
    <a href="/auth/facebook">Login</a>
  </div>
{{/unless}}

