<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body >

  <nav class="nav justify-content nav-pills nav-fill p-3 align-items-center" id="up">
    <a class="p-3 m-3 nav-link active" href="/">Home</a>
    <a class="p-3 m-3 nav-link active" href="/auth/login">Login</a>
    <a class="p-3 m-3 nav-link active" href="/auth/signup">Signup</a>
    <a class="p-3 m-3 nav-link active" href="/products">Productos</a>
    <a class="p-3 m-3 nav-link active" href="/auth/miperfil">perfil</a>

    {{#if user}}
    <a class="p-3 m-3 nav-link active" href="/auth/logout">Logout</a>

    {{/if}}
  </nav>

  {{{body}}}
</body>
</html>