body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  
}

a {
  color: #00B7FF;
}


#map {
  width: 300px;
  height: 400px;
}

#mapBig {
  position:absolute;
  width:100%;
  min-height:100%;
  top:0px;
  left:0px;
  z-index:1;
}

#up{

  top: 40px;
  
  position:absolute;
  z-index:2;
}

#filters{
  top: 40px;
  right: 30px;
  width: 130px;
  position:absolute;
  z-index:2;
}

#barra{
  top: 140px;
  left: 60px;
  position:absolute;
  z-index:2;
}


#mapFind {
  height: 500px;
  width: 100%;

}

img{
  height: 200px;
}

#myRecipes {
  padding: 5px;
  margin: 200px 0;
  border: 1px solid black;
}