<div class="row">
  <div class="card shadow col-6 ">
     <h2 class="mt-3">Add a new product!</h2>
<form action="/products/new" method="post" enctype="multipart/form-data">
<div class="form-group">
  <label for="name">Name of Product: </label>
  <input class="col-9" type="text" name="name" id="name"></div>
  <label for="description">description: </label><br>
  <textarea class="col-12" type="text" name="description" id="description" rows="6"  placeholder="Esto es la descripcion">
    
</textarea>
<br>
 
  <br>
  <label>Vegetariano</label>
  <input type="checkbox" name="veget" id="veget">
  <label>Vegano</label>
  <input type="checkbox" name="vegan" id="vegan">
  <br>

  <label>Type of food</label>
  <select class="form-control " name="typeFood" id="typeFood">
   <option value="Americana">Americana</option> 
   <option value="China">China</option> 
   <option value="Española">Española</option>
   <option value="India">India</option> 
   <option value="Italiana">Italiana</option> 
   <option value="Japonesa">Japonesa</option> 
   <option value="Turca">Turca</option> 
   <option value="Mexicana">Mexicana</option> 
</select>
  {{!-- <input type="file" name="photo"> --}}
  <br>
  <div class="custom-file mt-2 mb-2">
    <input type="file" class="custom-file-input" id="inputGroupFile01" name="photo">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
  <input type="hidden" name="Pos" id="Pos">
  <input type="hidden" name="lat" id="lat">
  <input type="hidden" name="lng" id="lng">
  <input type="hidden" name="author" id="author" value="jamon">
  <div class="form-group mt-2">
  <label class="" for="kcal">Total Kcals</label>
  <input class="col-9" type="text" name="kcal" id="kcal" readonly></div>

  <div class="form-group mt-2">
  <label class="" for="listIngredientes">List of ingredients </label>
  <input class="col-8" type="text" name="listIngredientes" id="listIngredientes" readonly></div>
  <button class="col-12 active text-white mt-2 rounded p-1" type="submit">Add Product</button>
</form>

  <input class="mb-3 mt-3" type="text" name="ingredients" id="ingredients" placeholder="Here type to searh ingredients" > <button class="btn-success rounded mb-3 " onclick="cambio()">Search</button>


    <input class="col-12 rounded" id="pac-input" class="controls" type="text" placeholder="Search Box" style="height: 50px">

<ul class="list-group list-group-flush" id="ingredienteslista"></ul>

  
  </div><div class="card col-5 shadow ml-3" id="map" style="width: 100%;
   height: 656px;"></div> <div >
     </div> 

</div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/javascripts/findMap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0HUgfditDr8NvZjsnOmJYIwcP6AWVTqw&libraries=places&callback=initAutocomplete"></script>
   <script src="/javascripts/Ingredientes.js"></script>